.dark-overlay {
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(177, 118, 118, 0.3));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.CelebrityCard {
  color: black;
  overflow: hidden;
  box-shadow: 0 2px 20px var(--main);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CelebrityCard:hover {
  transform: scale(1.02);
}

.celebrityCardImage {
  height: 18vh;
  width: 8vw;
  object-fit: cover;
  background-size: cover;
  padding: 0px 1px;
}

.celebrityCardImage:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.celebrityName {
  width: 100%;
  color: var(--main);
  position: absolute;
  bottom: 0;
  font-size: 0.8vw;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.celebrityFollowers {
  padding: 0 1rem;
  color: var(--main);
}

.celebrityCardButton {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  transition: background 200ms ease-in color 200ms ease-in;
  color: var(--main);
  border: 2px solid var(--theme);
  background: transparent;
  color: ar(--main);
  border-radius: 2rem;
}

.celebrityCardButton:hover {
  background: var(--main);
  color: var(--theme);
}
