.button {
  font-family: "HelveticaNeue-Bold";
  background-color: var(--theme);
  border: none;
  color: var(--theme);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: -1.5px;
  margin-right: 3vw;
}

.bid-button {
  border-radius: 2.5vw;
  width: 15vw;
  height: 3vw;
  font-size: 1.5vh;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  margin-top: 0vh;
  margin-left: 0vw;
}
