.celebrity-hero-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    var(--img);
}

.celebrity-card-background {
  width: 100;
  height: 100;
  background-size: cover;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("https://wallpaperaccess.com/full/1484671.jpg");
}

.heading-text {
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 3.8vw;
  text-transform: capitalize;
  color: var(--main);
  letter-spacing: -1.5px;
  margin-left: 3vw;
  vertical-align: top;
  margin-top: 15vh;
  text-align: left;
}

.small-text {
  font-family: "HelveticaNeue-Light";
  font-size: 1.2vw;
  text-transform: lowercase;
  color: var(--main);
  letter-spacing: 0px;
  margin-left: 3vw;
  vertical-align: top;
  margin-top: 0.8vh;
  text-align: left;
}

.wrapper .item {
  min-width: 110px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  background-color: #dddd;
  border: 1px solid #ffffff;
}

.share-button {
  border-radius: 10px;
  width: 2.5vw;
  height: 2.5vw;
}
