.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0vh;
  margin-left: 3wh;
}
.main-menu {
  height: 35px;
  padding: 25px;
}

.options {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
  margin-left: auto;
  margin-right: 1vw;
}

.option {
  height: 30px;
  cursor: pointer;
}
